:root{
    --main-color: #FFE550;
    --accent-color: #BBF330;

    --primary-text-color: #2C2C2C;
    --secondary-text-color: #000000;
    --additional-text-color: #7EB101;
    --placeholder-text-color: #505050;
    --placeholder-color: #c4c4c4;
    --main-bcg-color: #FEFEFE;
    --additional-bcg-color: #FFF; 
  
    --btn-active: #B5FF00;
    --error-color:#FF705D;
    --white-color: #fff;

    --main-font: "Roboto", sans-serif;
}