<section class="section customers__section">
    <div class="container">
        <h2 class="section-title section-titel__customers">What our Customers Say</h2>
        <p class="section-dsc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="review">
            <div class="review-list">
                <div class="review__wrap">
                    <img src="../images/stars.svg" alt="" class="review__rating">
                    <p class="review__desc">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>
                    <div class="client">
                        <img class="client__img" src="./images/client1.jpg" alt="rating">
                        <div class="client__info">
                            <p class="client__name">Sumith Shah</p>
                            <p class="client__prof">Some Dude</p>
                        </div>
                    </div>
                </div>
                <div class="review__wrap">
                    <img src="./images/stars.svg" alt="" class="review__rating">
                    <p class="review__desc">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
                    <div class="client">
                        <img class="client__img" src="./images/client2.jpg" alt="star">
                        <div class="client__info">
                            <p class="client__name">Sumith Shah</p>
                            <p class="client__prof">Some Dude</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>