<section class="section favorites" id="favorits">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a class="favorites__link" href="#!">
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/favorites/m-gamburger.jpg    1x,
                ./images/favorites/m-gamburger@2x.jpg 2x
              "
            />
            <source
              media="(max-width:1279px)"
              srcset="
                ./images/favorites/t-gamburger.jpg    1x,
                ./images/favorites/t-gamburger@2x.jpg 2x
              "
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/d-gamburger.jpg    1x,
                ./images/favorites/d-gamburger@2x.jpg 2x
              "
            />
            <img
              src="./images/favorites/d-gamburger.jpg"
              alt="hamburger"
              srcset="./images/favorites/d-gamburger@2x.jpg 2x"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="#!">
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/favorites/m-pasta.jpg    1x,
                ./images/favorites/m-pasta@2x.jpg 2x
              "
            />

            <source
              media="(max-width:1279px )"
              srcset="
                ./images/favorites/t-pasta.jpg    1x,
                ./images/favorites/t-pasta@2x.jpg 2x
              "
            />

            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/d-pasta.jpg    1x,
                ./images/favorites/d-pasta@2x.jpg 2x
              "
            />
            <img
              src="./images/favorites/d-pasta.jpg"
              alt="pasta"
              srcset="./images/favorites/d-pasta@2x.jpg 2x"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="#!">
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/favorites/m-pizza.jpg    1x,
                ./images/favorites/m-pizza@2x.jpg 2x
              "
            />

            <source
              media="(max-width:1279px )"
              srcset="
                ./images/favorites/t-pizza.jpg    1x,
                ./images/favorites/t-pizza@2x.jpg 2x
              "
            />

            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/d-pizza.jpg    1x,
                ./images/favorites/d-pizza@2x.jpg 2x
              "
            />
            <img
              src="./images/favorites/d-pizza.jpg"
              alt="pizza"
              srcset="./images/favorites/d-pizza@2x.jpg 2x"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="#!">
          <picture>
            <source
              media="(max-width:1279px )"
              srcset="
                ./images/favorites/t-chicken.jpg    1x,
                ./images/favorites/t-chicken@2x.jpg 2x
              "
            />

            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/d-chicken.jpg    1x,
                ./images/favorites/d-chicken@2x.jpg 2x
              "
            />
            <img
              src="./images/favorites/d-chicken.jpg"
              alt="chicken"
              srcset="./images/favorites/d-chicken@2x.jpg 2x"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="#!">
          <picture>
            <source
              media="(max-width:1279px)"
              srcset="
                ./images/favorites/t-salat.jpg    1x,
                ./images/favorites/t-salat@2x.jpg 2x
              "
            />

            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/d-salat.jpg    1x,
                ./images/favorites/d-salat@2x.jpg 2x
              "
            />
            <img
              src="./images/favorites/d-salat.jpg"
              alt="salat"
              srcset="./images/favorites/d-salat@2x.jpg"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="#!">
          <picture>
            <source
              media="(max-width:1279px )"
              srcset="
                ./images/favorites/t-borshch.jpg    1x,
                ./images/favorites/t-borshch@2x.jpg 2x
              "
            />

            <source
              media="(min-width:1280px)"
              srcset="
                ./images/favorites/d-borshch.jpg    1x,
                ./images/favorites/d-borshch@2x.jpg 2x
              "
            />
            <img
              src="./images/favorites/d-borshch.jpg"
              alt="borshch"
              srcset="./images/favorites/d-borshch@2x.jpg 2x"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
