<footer class="section footer__section">
    <div class="container">
        <div class="footer-content__wrapper">
            <div class="navigation-wrapper">
                <a href="./index.html">
                    <svg class="logo__icon">
                        <use href="./images/header.svg#icon-logo"></use>
                    </svg>

                </a>
                <nav class="footer-navigation">
                    <ul class="footer-navigation__list">
                        <li class="footer-navigation__item"><a href="./index.html"
                                class="footer-navigation__link link">Home</a></li>
                        <li class="footer-navigation__item"><a href="#offerings"
                                class="footer-navigation__link link">Offerings</a></li>
                        <li class="footer-navigation__item"><a href="#favorits"
                                class="footer-navigation__link link">Favorites</a></li>
                        <li class="footer-navigation__item"><a href="#customers"
                                class="footer-navigation__link link">Customers</a></li>
                        <li class="footer-navigation__item"><a href="#subscribe"
                                class="footer-navigation__link link">Subscribe</a></li>
                    </ul>
                </nav>
            </div>
            <div class="form-wrap">
                <p class="form-title">Subscribe</p>
                <form action="" class="footer-form" autocomplete="on">
                    <input type="email" placeholder="Enter your email"
                        pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{3,6}$">
                    <span class="mob-undertext">&#9888; Not a valid email address (example@email.com)</span>
                    <button type="submit" class="footer-button">
                        Subscribe
                    </button>
                    <span class="undertext">&#9888; Not a valid email address (example@email.com)</span>
                    <p class="footer-text">By subscribing you agree to with our<a href="">Privacy Policy</a></p>
                </form>
            </div>
        </div>

        <div class="privacy-wrapper">
            <ul class="privacy-list">
                <li class="privacy-list__item"><a href="" class="privacy-list__link">Privacy Policy</a></li>
                <li class="privacy-list__item"><a href="" class="privacy-list__link">Terms of Service</a></li>
                <li class="privacy-list__item"><a href="" class="privacy-list__link">Cookies Settings</a></li>
            </ul>
            <p class="rights">2022 FoodSta. All right reserved.</p>
        </div>
    </div>
</footer>