<header class="section header__section">
    <div class="container mob-container">
        <a class="link logo__link" href="./index.html">

            <svg class="icon logo__icon">
                <use href="./images/header.svg#icon-logo"></use>
            </svg>

        </a>
        <button type="button" class="header__btn menu-open-btn menu-toggle js-open-menu">
            <svg class="icon mob__icon-open">
                <use href="./images/header.svg#icon-open-mob"></use>
            </svg>
        </button>
        <div class="mob__menu js-menu-container">
            <button type="button" class="header__btn menu-close-btn menu-toggle js-close-menu">
                <svg class="icon mob__icon-close">
                    <use href="./images/header.svg#icon-close-mob"></use>
                </svg>
            </button>
            <nav class="mob__menu-navigation">
                <ul class="mob__menu-list list">
                    <li class="mob__menu-item item"><a class="mob__menu-link link" href="./index.html">Home</a></li>
                    <li class="mob__menu-item item"><a class="mob__menu-link link" href="#offerings">Offerings</a></li>
                    <li class="mob__menu-item item"><a class="mob__menu-link link" href="#favorits">Favorits</a></li>
                    <li class="mob__menu-item item"><a class="mob__menu-link link" href="#customers">Customers</a></li>
                    <li class="mob__menu-item item"><a class="mob__menu-link link" href="#subscribe">Subscribe</a></li>
                </ul>
            </nav>

        </div>



    </div>

    <div class="container tab-container">
        <a class="link logo__link tab-container__link" href="./index.html">

            <svg class="icon logo__icon">
                <use href="./images/header.svg#icon-logo"></use>
            </svg>
        </a>
        <div class="navigation__wrap">
            <nav class="navigation">
                <ul class="list navigation__list">
                    <li class="navigation__item item"><a class="navigation__link link" href="./index.html">Home</a></li>
                    <li class="navigation__item item"><a class="navigation__link link" href="#offerings">Offerings</a>
                    </li>
                    <li class="navigation__item item"><a class="navigation__link link" href="#favorits">Favorits</a>
                    </li>
                    <li class="navigation__item item"><a class="navigation__link link" href="#customers">Customers</a>
                    </li>
                    <li class="navigation__item item"><a class="navigation__link link" href="#subscribe">Subscribe</a>
                    </li>
                </ul>
            </nav>
            <button type="submit" class="button__oreder button" data-modal-open>Order Now</button>

        </div>
    </div>

</header>