<section class="section">
  <div class="backdrop" data-modal>
    <div class="modal">
      <button type="button" class="modal__closebtn" data-modal-close>
        <svg class="modal__close">
            <use href="./svg/icons.svg#icon-close"></use>
        </svg>
      </button>
      <strong class="modal__title">Order Form</strong>
      <form action="#" class="form">
        <label class="form__field"
          ><span class="form__title">Name</span>
          <input type="text" name="name" placeholder="Your name" class="field__input" required />
        </label>
        <label class="form__field"
          ><span class="form__title">Phone number</span>
          <input type="tel" name="phone" placeholder="+38(0_ _) _ _ _   _ _   _ _" class="field__input" required />
        </label>
        <label class="form__field"
          ><span class="form__title">E-mail</span>
          <input type="email" name="mail" placeholder="example@gmail.com" class="field__input" required />
        </label>
        <button type="submit" class="agree__submitbtn">Send</button>
      </form>
    </div>
  </div>
</section>
