.customers__section {
    margin: 0 auto;
    background-image: url("../images/customers/cs-bg320.svg");
    background-repeat: no-repeat ;
    background-position:bottom;
    background-size: cover;
    @media screen and (min-width:480px){
        background-image: url("../images/customers/cs-bg480.svg");
        max-width: 480px;
    }
    @media screen and (min-width:768px) {
        padding-top:60px;
        padding-bottom:120px;
        background-image: url("../images/customers/cs-bg768.svg");
        max-width: 768px;
    }
    @media screen and (min-width:1280px) {
        background-image: url("../images/customers/cs-bg1280.svg");
        height: 647px;
        max-width: 1280px;
    }
}
.section-title__customers{
    display: block;
    margin-bottom:20px;
    @media screen and (min-width:768px) {
        max-width: 100%;
        
    }
}
.section-description__customers {
    display: block;
    margin-bottom:32px;
    @media screen and (min-width:768px) {
        max-width: 100%;
        
    }
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    @media screen and (min-width: 768px){
        gap:32px;
    }
    @media screen and (min-width:1280px){
        gap:139px;
    }
}

.review__wrap {
    padding: 8px;
    background-color: var(--main-bcg-color);
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;

    @media screen and (min-width:768px) {
        padding:12px;
        max-width:336px;
        max-height:244px;
    }
    @media screen and(min-width:1280px) {
        margin: 0;
        padding: 14px;
        max-width: 501px;
        max-height:277px;
    }
}
.review__rating {
    display: inline-flex;
    gap:4px;
    margin-bottom: 28px;
}
.review__rating li {
    width: 17px;
    height: 16px;

}
.review__rating svg {
    width: 17px;
    height: 16px;
    overflow: hidden;
}

.review__dsc {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    margin-bottom: 40px;
    @media screen and (min-width:768px){
        font-size: 18px;
    }
}

.client {
    display: inline-flex;
    border-right: 1px solid var(--additional-text-color);
    
    &__img {
        height: 48px;
        width: 48px;
    }
    &__info {
        line-height: 1.5;
        margin: 0 16px;

    }
    &__name {
        font-weight: 500;
        margin-bottom: 2px;
        
    }
}

