.section__offerings {
    background-image:
        url("../images/bgi_off_mob.png");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

      @media screen and (min-width:480px) {
        background-image:
            url("../images/bgi_off_mob_480.png");
    }
    @media screen and (min-width:768px) {
        background-image:
            url("../images/bgi_off_desk.png");
    }

      
}

.offerings {
    margin-top: 99px;
    display: flex;
    flex-wrap: wrap;
 

    @media screen and (max-width:767px) {
        justify-content: center;
        }

    &__img {
        margin-bottom: 60px;
  

        @media screen and (min-width:768px) {
            max-width: 704px;
            margin-bottom: 30px;
            }

        @media screen and (min-width:1280px) {
            max-width: 580px;
            margin-right: 90px;
            margin-bottom: 100px;
            }

    }

    &__text {
   
        margin-bottom: 60px;

        @media screen and (min-width:768px) {
            margin-bottom: 100px;
            }

        @media screen and (min-width:1280px) {
            max-width: 573px;
            max-height: 392px;
            margin-top: 99px;
            }

    }

    
    &__item {
        margin-top: 28px;


         @media screen and (min-width:768px) {
            margin-top: 40px;
            display: flex;
            justify-content: space-around;
        }
    }

    &__list {

        @media screen and (max-width:767px) {
                max-width: 252px;
            }
        
        @media screen and (min-width:768px) {
            max-width: 252px;
            }

         @media screen and (min-width:1280px) {
            max-width: 252px;
            }
    }

    &__icon {
        margin-bottom: 8px;
        width: 48px;
        height: 48px;
    }

}

.order {
    margin-top: 20px;
   

    @media screen and (min-width:768px) {
            margin-top: 40px;
            justify-content: baseline;
        }

    @media screen and (min-width:1280px) {
         margin-top: 32px;
         }

    &__item{
     display: flex;
     align-items: center;
    }

    &__button{
        box-sizing: border-box;
        max-width: 106px;
        height: 40px;
        background: #FFFFFF;
        border: 2px solid #7EB101;
        border-radius: 30px;

        &:hover{
            background: #BBF330;
            border: 2px solid #BBF330;
        }
    }

     &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        color: #000000;
        
        }

    &__list-read{
        margin-left: 24px;
        border-radius: none;

        @media screen and (min-width:1280px) {  
            display: none;
            }
        
    }
}



.section-description {
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #2C2C2C;
}

.section-title{
    max-width: 280px;

    @media screen and (min-width:768px) {
            max-width: 526px;
        }
}
.section-subtitle{
    max-width: 280px;
    margin-top: 28px;
  
    font-size: 16px;
    line-height: 1.14;
     color: #2C2C2C;

    @media screen and (min-width:768px) {
            max-width: 526px;
            margin-top: 20px;
        }
 
}